In [1]:

import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(100, 4), columns=list('ABCD'))
df['clusters'] = list(range(100))
df

           A         B         C         D  clusters
0  -0.923583  0.878130  0.120113 -0.759836         0
1  -0.882941  0.943744 -1.133457  0.428541         1
2  -0.618238 -2.156453 -1.826963 -0.911882         2
3   0.234249  1.067158  0.871083 -1.052027         3
4  -1.081519 -0.258101 -1.471950 -1.065008         4
..       ...       ...       ...       ...       ...
95  0.196757  0.178011  0.131320 -1.387175        95
96  0.611242 -1.316543  0.203411 -0.895117        96
97 -2.760824 -0.677111 -0.580481 -0.194905        97
98  0.209734 -0.282774  0.718901 -1.142294        98
99 -1.057680 -0.378082 -1.256988  0.257280        99

[100 rows x 5 columns]

In [2]:
df[df['clusters'] == 4 ]

          A         B        C         D  clusters
4 -1.081519 -0.258101 -1.47195 -1.065008         4

In [10]:
df1 = df = pd.DataFrame({"a":[1, 2, 3, 4],
                         "b":[5, 6, 7, 8]})
df1

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [11]:
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7]})
df2

   a  b
0  1  5
1  2  6
2  3  7

In [13]:
scenarios = pd.DataFrame()
df1.append(df2)

   a  b
0  1  5
1  2  6
2  3  7
3  4  8
0  1  5
1  2  6
2  3  7